
body {
  /* background: #fafafa; */
  font-family: 'Nunito Sans', sans-serif;
  color: #111517;
}

.cm-spinner {
    height: 40px;
    width: 40px;
    /* top: -100px; */
    /* border: 3px solid transparent; */
    border-radius: 50%;
    border: 3px solid #c5c5c5;
    /* -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite; */
    position: relative;
  }
  
  
  .cm-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
  }

  /* .cm-spinner::after {
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
  } */
  
  /* .cm-spinner::before {
    transform: rotate(360deg);
    border-top-color: #8d8d8d;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
  } */
  
  .cm-spinner::after {
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-top-color: #09003b;
    -webkit-animation: spin .7s linear infinite;
    animation: spin .7s linear infinite;
  }   
               
  @-webkit-keyframes spin {
      from {
          -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }   
          
  @keyframes spin {
      from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }