/* 
.countries {
  display: flex;
}
.card {
  width: 25%;
}
figure {
  width: 100%;
}
img {
  width: 100%;
}
 */
body {
  /* background: #fafafa; */
  font-family: 'Nunito Sans', sans-serif;
  color: #111517;
}